<!DOCTYPE html>
<html>
<head>
    <% if (params.has_key?(:locale))
        if (params[:locale] == :fr) 
            I18n.locale = 'fr'
        else 
            I18n.locale = 'en'
        end
       end
    %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= t("app_title") %></title>
  <link href="app/css/custom/style.default.css" rel="stylesheet" type="text/css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="app/js/html5shiv.js"></script>
  <script src="app/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">

<!-- Preloader -->


<section>
  
    <div class="signinpanel">
        
        <div class="row">
            
            <div class="col-md-7">
                
                <div class="signin-info">
                    <div class="logopanel loginPageLogo">
                        <h1><%= image_tag("Logo_EN.jpg", height:'100', width:'100'); %></h1>
                    </div><!-- logopanel -->
                
                    <div class="mb20"></div>
                    <h5><strong><%= t("welcome_to_app") %></strong></h5>
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <%= t("selling_point_1") %></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <%= t("selling_point_2") %></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <%= t("selling_point_3") %></li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> <%= t("and_much_more") %></li>
                    </ul>
                    
                </div><!-- signin0-info -->
            
            </div><!-- col-sm-7 -->
            
            <div class="col-md-5">
                    <h4 class="nomargin"><%=t("login") %></h4>
                    <p class="mt5 mb20"><%= t("login_to_access_your_account") %></p>
                    <%= form_tag(:action => 'attempt_login') do %>
                
                <% if I18n.locale == :en %>
                    <div style='width:100%;text-align:right;'><%= link_to :locale => 'fr' do %>
                         <%= t("view_site_in_language") %> &nbsp;&nbsp;<%= image_tag('flag_guinea', width: 24) %>
                        <% end %>
                    </div>
                <% else %> 
                    <div style='width:100%;text-align:right;'><%= link_to :locale => 'en' do %>
                         <%= t("view_site_in_language") %> &nbsp;&nbsp;<%= image_tag('flag_english', width: 24) %>
                        <% end %>
                    </div>
                <% end %>
                <%= flash[:notice] %>
			<%= text_field_tag :username, "", class: 'form-control uname', placeholder: 'Username' %>
			<%= password_field_tag(:password, "", class: "form-control pword", placeholder: "Password") %>
                    <a href="#"><small><%= t("forgot_your_password") %></small></a>
                    <%= submit_tag("Sign In", class: "btn btn-success btn-block login-carrier") %>
                <% end %>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->
        
        <div class="signup-footer">
            <div class="pull-left">
                &copy; <%= t("copyright") %>
            </div>
            <div class="pull-right">
                <a href="#" target="_blank"><%= t("contact_us") %></a> &nbsp;|&nbsp; <a href="#" target="_blank"><%= t("help") %></a>
            </div>
        </div>
        
    </div><!-- signin -->
  
</section>
<script src="app/js/jquery-1.10.2.min.js"></script>
<script src="app/js/jquery-migrate-1.2.1.min.js"></script>
<script src="app/js/jquery-ui-1.10.3.min.js"></script>
<script src="app/js/bootstrap.min.js"></script>
<script src="app/js/modernizr.min.js"></script>
<script src="app/js/jquery.sparkline.min.js"></script>
<script src="app/js/toggles.min.js"></script>
<script src="app/js/retina.min.js"></script>
<script src="app/js/jquery.maskedinput.min.js"></script>
<script src="app/js/jquery.tagsinput.min.js"></script>
<script src="app/js/bootstrap-fileupload.min.js"></script>
<script src="app/js/bootstrap-wizard.min.js"></script>
<script src="app/js/jquery.datatables.min.js"></script>
<script src="app/js/dataTables.responsive.min.js"></script>
<script src="app/js/wysihtml5-0.3.0.min.js"></script>
<script src="app/js/bootstrap-wysihtml5.js"></script>
<script src="app/js/chosen.jquery.min.js"></script>
<script src="app/js/jquery.validate.min.js"></script>
<script src="app/js/custom.js"></script>
<script>
var userType = $('select#userType').val(); 
function checkValidate(){
	var username = $('#username').val();
	var password = $('#password').val();
	var userType = $('select#userType').val();
	if(userType == ""){	
		alert("Please select your portal to proceed");
		document.form2.userType.focus();
		return false;
	}
	else if(username == ""){	
		alert("Please enter your Username");
		document.form2.username.focus();
		return false;
	}
	else if(password == ""){	
		alert("Please enter your Password");
		document.form2.password.focus();
		return false;
	}
	
	if(username == "admin" && password == "admin" && userType == "admin"){	
		window.location = 'app/Admin/dashboard.html';
		return false;
	}
	else if(username == "ent" && password == "ent" && userType == "entrepreneur"){	
		window.location = 'app/Entrepreneur/dashboard.html';
		return false;
	}
	else{
		alert('Invalid credentials');
		document.form2.username.focus();
		return false;
	}
	return true;
}
</script>
</body>
</html>

